.input {
  margin: 24px 0;
}

.input label {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #00FFFF;
}

.input input {
  background-color: #00FFFF;
  width: 90%;
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  padding: 10px;
  margin-top: 5px;
  color: rgb(0, 0, 0);
}

.input input::placeholder {
  color: #000000;
}

.input button {
  background-color: #000000;
  border: none;
  color: #00FFFF;
  width: 0%;
}

