.button {
  background-color: #00FFFF;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0);
  width: 50%;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 8px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-weight: 400;
}
